name: build
on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main
    paths-ignore:
      - '**.md'
  workflow_dispatch:

jobs:
  build:
    name: Build
    runs-on: ubuntu-22.04

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - uses: gradle/actions/setup-gradle@v4
      - uses: actions/setup-java@v4
        with:
          distribution: 'oracle'
          java-version: '21'

      - name: Make gradlew executable
        run: chmod +x ./gradlew

      - name: Build
        run: ./gradlew build

      - name: Capture build Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: built-jars
          path: |
            **/build/libs/

#  runtimeTest:
#    if: ${{ success() }}
#    needs: build
#    name: Runtime Test
#    runs-on: ubuntu-22.04
#
#    steps:
#      - name: Checkout Repository
#        uses: actions/checkout@v4
#
#      - name: Download artifacts
#        uses: actions/download-artifact@v4
#        with:
#          name: built-jars
#
#      - name: Setup Gradle
#        uses: gradle/actions/setup-gradle@v4
#
#      - uses: actions/setup-java@v4
#        with:
#          distribution: 'oracle'
#          java-version: '21'
#
#      - name: Make gradlew executable
#        run: chmod +x ./gradlew
#
#      - name: Run production server test
#        run: ./gradlew prodServer
#
#      - name: Run production client test
#        run: ./gradlew prodClient
